version: '0.0.{build}'
image: Visual Studio 2019

# Setup environment
nuget:
  disable_publish_on_pr: true

pull_requests:
  do_not_increment_build_number: true

branches:
  except:
    - /tmp|temp/

skip_commits:
  files:
  - .github/
  - .gitattributes
  - .gitignore
  - LICENSE
  - README.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - CODE_OF_CONDUCT.md
  - '**/*.DotSettings'

environment:
  DocFXVersion: 2.58
  GITHUB_ACCESS_TOKEN:
    secure: 53MNc4RNkaB8Cj54MNxuyLf9syy+i54ITECxm7HhmbJZfIJvzIss6WbiHZ4mCXAW
  GITHUB_EMAIL:
    secure: CxOftS/5wmEkPCDl0O/KIiKlF4KhUnGD9436K/1iQwY3RkDMZRCkCEny+dG5zCS+

# Setup build version
install:
  - ps: ./build/setup-build.ps1

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '$(Build_Assembly_Version)'
  package_version: '$(Build_Version)'
  assembly_version: '$(Build_Assembly_Version)'
  file_version: '$(Build_Assembly_Version)'
  informational_version: '$(Build_Version)'

# Build configurations
platform:
  - Any CPU

configuration:
  - Release

matrix:
  fast_finish: true

# Build
before_build:
  # NuGet restore
  - dotnet restore

build:
  verbosity: minimal

build_script:
  - dotnet build

test_script:
  - ps: $blockRdp = $true ; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - ps: ./build/run-tests.ps1

## Documentation
after_test:
  # Release documentation
  - ps: ./build/publish-docs.ps1

## Deploy
deploy:
  ## GitHub
  - provider: GitHub
    auth_token:
      secure: 53MNc4RNkaB8Cj54MNxuyLf9syy+i54ITECxm7HhmbJZfIJvzIss6WbiHZ4mCXAW
    release: '${APPVEYOR_REPO_TAG_NAME}'
    description: 'Version ${Release_Name}'
    draft: false
    prerelease: false
    force_update: true
    on:
      configuration: Release
      APPVEYOR_REPO_TAG: true
## GitHub packages
#  - provider: NuGet
#    server: TODO
#    username: TODO
#    api_key:
#      secure: TODO
#    skip_symbols: true
#    artifact: NuGet
#    on:
#      configuration: Release
#      APPVEYOR_REPO_TAG: true
## NuGet
#  - provider: NuGet
#    api_key:
#      secure: TODO
#    on:
#      configuration: Release
#      APPVEYOR_REPO_TAG: true
